html, body {
  margin:0;
  padding:0;
  background-color: lightgrey;
  font-family: 'Josefin Slab', serif;
}

/*i {
  padding: 20px;
}
*/

/*HEADER*/

/*.invisible {
  display: none;
}*/
.elips-button {
  padding-top: 12px;
  background-color: #6f6f6f;
  color:white;
  border-radius: 20%;
}

.app-desc {
  display: none;
  grid-row-start: 3;
}


#header-box {
  display: grid;
  grid-template-columns:repeat(1, 100% [nav-col]);
  grid-template-rows: [name-row] 60px;
  grid-auto-flow: row; 
  background-color: white;
  padding-top: 7px;
  /*text-transform: uppercase;*/
  /*border:solid 1px black;*/
}

 .long-name {
  display: none;
 }

#header-name {
  grid-column-start: 1;
  grid-column-end: 4;

  justify-self: stretch;
  text-align: center;
  text-transform: initial;
  color: #423e3e;
  z-index: 1;
  background-color: white;
  /*border:solid 3px black;*/
}

/*.header-nav {
  display: none;
}*/

  #hamburger-button {
  text-align: center;
  font-size: 40px;
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 10px 0 10px 0;
  margin-left:5%;
}

a {
  text-decoration: none;
  color:black;
  text-transform: uppercase;
}

#header-job {
  grid-column-start: 1;
  grid-column-end: 4;
  justify-self: stretch;
  text-align: center;
  background-color: #423e3e;
  color:white;
  z-index: 1;
  display: none;
}

.header-nav {
  justify-self: stretch;
  text-align: center;
}

.header-nav{
   border-width: 2px 2px 2px 0;
   border-color: lightgrey;
   border-style: solid;
   color: #635f5f;
   z-index: 2;
   background-color: white;
}

}

.me{ 
  border-width: 0 0 6px 0;
   z-index: 2;
}

/*main*/

main {
  background-color: lightgrey;
  max-height: 2500px;
  max-width: 500px;
  margin:auto;
  margin-top: 5px;
  /*so  ehow make it -350 px less than total appenddiv*/
}

#games-article-header {
  display: none;
}

.article-box {
  background-color: white;
  margin: 0 14px 4px 14px;
  border-width: 1px 1px 1px 1px;
  border-color:#635f5f;
  border-style: solid;
  border-radius: 1%;
  max-width: 500px;
  
 
}

.img-box{
  padding: 20px 5% 20px 5%;
  max-width: 220px;
  margin: auto;
}

/*#samurai-skills {
  background-color: black;
}*/

.outer-img-box {
  /*background-color: red;*/
  width: 100%;
}

.text-box {
  
  display: grid;
  grid-template-columns:repeat(20, 5% [text-col]);
}

.app-title, .app-desc, .app-lang {
  grid-column-start: 4;
  grid-column-end: 18;
  margin: 0 0 8px 0;
}

.app-title, .app-lang {
    color: #635f5f;
}

.app-lang {
  padding-bottom: 8px;
}

#appendSpace {
  position: relative;
  top: -100px;
}

.article-box {
  z-index: -2;
}

.me-divider {
  height:2em;
  background-color: #635f5f;
  color: white;
  text-align: center;
  padding-top: 14px;
  font-size: 22px;
}

/*experiment*/

.fix{
    position:fixed;
    background-color: white;
  
    left:0;
    right:0;
    top: 0px;
    z-index: 2;
    
}

.highlighted {
  background-color: #eae3e3;
}


.nav-box {
    display: grid;
    grid-template-columns:repeat(3, 33.3% [nav-col]);
    background-color: white;
}

.nav-box {
  opacity: .9;
}

/*animations*/

.position-change {
  animation-name:position-change;
  animation-duration:1s;
  animation-direction:forwards; 
  animation-fill-mode: forwards;
}

.position-change-back {
  animation-name:position-change-back;
  animation-duration:1s;
  animation-direction:forwards; 
  animation-fill-mode: forwards;
}

.fade-in {
  animation-name:fade-in;
  animation-duration:1s;
  animation-direction:forwards; 
  animation-fill-mode: forwards;
}

.fade-out {
  animation-name:fade-out;
  animation-duration:.25s;
  animation-direction:forwards; 
  animation-fill-mode: forwards;
}



#about-me-div {
  margin: 0 25px 4px 25px;
  color:#c3c3c3;
  text-shadow: -1px -1px #5c5c5c;
  font-size: 20px;
}

#about-me-h1 {
  text-align: center;
}

#me-article {
    border:solid 1px black;
    background-color: #e7e2e2;
}

#me-text {
  padding: 10px 20px 10px 20px;

}

/*.article-box {

}*/
/*The top position needs to be modified depending on how many items in the dict. Maybe with SASS*/

@keyframes position-change {
    0%   {top:-3800px; }
    100% { top:-380px; }
  } 


@keyframes position-change-back {
    0%   {top:-380px;}
    100% {top:-3800px;}
  }


@keyframes fade-in {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}

@keyframes fade-out {
  0%    {opacity: 1;}
  100%  {opacity: 0;}
}


  .img-sml {
    display: block;
  }
  .img-lge {
    display: none;
  }

@media screen and (min-width: 400px) {


  .img-sml {
    display: none;
  }
  .img-lge {
    display: block;
  }
  .img-box{
    padding: 20px 5% 20px 5%;
    max-width: 300px;
    margin: auto;
    }

  #hamburger-button {
  display: none;
}

.header-nav {
  display: block;
}


main {
  margin-top: 0px;
  }
 .long-name {
  display: inline;
 }


@media screen and (min-width: 750px) {

/*header*/

#header-job {
  display: block;
}

.invisible {
  display: none;
}

.app-desc {
  display: inline;
  grid-row-start: 2;
}


#header-box {
  grid-template-columns:repeat(1, 100% [nav-col]);
  grid-template-rows: [name-row] 40px;
  grid-column-gap: 30px;
  padding-bottom: 20px;
}

#header-name {
  grid-column-start: 1;
  grid-column-end: 2;

  justify-self: stretch;
  text-align: center;
  text-transform: initial;
  color: #423e3e;
  z-index: 1;
  background-color: white;
}

/*#header-job {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: stretch;
  text-align: left;
  background-color: white;
  color:#423e3e;

}*/

.nav-box {
  grid-template-columns:repeat(10, 10% [nav-col]);

}

#games-article-header {
  display:block;

}


#web-apps {
  grid-column-start: 3;
  grid-column-end:5;
}

#games {
grid-column-start: 5;
grid-column-end:7;
}

#about-me {
 grid-column-start: 7;
 grid-column-end:9;
 border-right: none;
}
    main {
      max-width: 800px;
      display: grid;
      grid-template-columns:repeat(2, 50% [art-col]);
      grid-template-rows: repeat(44, 51px [row-start]) 5%;
      grid-auto-flow: row; 
      grid-column-gap: 0px;

    }   



/*order of articles*/

    .article-box {    
/*      grid-column-start: 1,2;
      grid-column-end: 2,3;*/
      z-index:1;
      justify-self: stretch;
      margin-right: 1.5px;
      margin-left: 1.5px;
    }

    .divider  {
      visibility: hidden;
      height:0em;
 
      color: white;
      padding-top: 0px;
      font-size: 0px;
    }

    #piano-article {
      grid-row-start: 1;
      grid-row-end: 8; 
    }

    #wiki-article {
      grid-row-start: 11;
      grid-row-end: 18;
      grid-column-start: 2;
    }

    #weather-article {
      grid-row-start: 8;
      grid-row-end: 16;
      grid-column-start: 1;
    }
    
    #sentiment-article {
      grid-row-start: 1;
      grid-row-end: 11;
      grid-column-start: 2;
    }

    #maps-article {
      grid-row-start: 16;
      grid-row-end: 24;
    }
    #calc-article {
      grid-row-start: 18;
      grid-row-end: 30;      
    }
    
    #crosses-article {
      grid-row-start: 31;
      grid-row-end: 43;            
    }

    #caesar-article {
      grid-row-start: 30;
      grid-row-end: 39;        
    }
    #samurai-article {
      grid-row-start: 39;
      grid-row-end: 49;        
    }
    #stock-article {
      grid-row-start: 24;
      grid-row-end: 31;  
      grid-column-start:1;    
    }
    #about-me-div {
      display: none;
    }   
    
    #me-content {
        height:2em;
        background-color: #635f5f;
        color: white;
        text-align: center;
        padding-top: 14px;
        font-size: 22px;
        visibility: visible;
    }

    #me-article {
    border:solid 1px black;
    background-color: #e7e7e7;
    grid-row-start: 43;
    grid-row-end: 49;  
  } 
}

@media screen and (min-width: 1100px) {
    main {
      max-width: 1100px;
      display: grid;
      grid-template-columns:repeat(3, 33.3% [art-col]);
      grid-template-rows: repeat(35, 51.5px [row-start]) 5%;
      grid-auto-flow: row; 
    } 

  #piano-article {
      grid-row-start: 1;
      grid-row-end: 8; 
    }

    #wiki-article {
      grid-row-start: 1;
      grid-row-end: 8;
      grid-column-start:3; 
    }

    #weather-article {
      grid-row-start: 1;
      grid-row-end: 9;
      grid-column-start:2; 
    }
    
    #sentiment-article {
      grid-row-start: 9;
      grid-row-end: 19;
      grid-column-start:2; 
    }

    #maps-article {
      grid-row-start: 8;
      grid-row-end: 15;
      grid-column-start:1; 
    }
    #calc-article {
      grid-row-start: 8;
      grid-row-end: 20;      
    }

    #caesar-article {
      grid-row-start: 22;
      grid-row-end: 36;            
    }

    #crosses-article {
      grid-row-start: 20;
      grid-row-end: 36; 
      grid-column-start:3;        
    }
    #samurai-article {
      grid-row-start: 19;
      grid-row-end: 30;        
    }
    #stock-article {
      grid-row-start: 15;
      grid-row-end: 22;  
      grid-column-start:1;   
    }
    #about-me-div {
      display: none;
    }   

    #me-article {
      grid-row-start: 30;
      grid-row-end: 36;
      border:solid 1px black;
      background-color: #e7e2e2;
    }





  }  




  





